@{
    Layout = "~/_LayoutMenu.cshtml";
    Page.Title = "Bootstrap Grid";
}
@section banner
{
    <h1>Bootstrap Grid</h1>
}
<!--The bootstrap grid system divides the screen into 12 columns-->
<div class="row">
    <div class="col-lg-2">
        Row 1 Col 1
    </div>
    <div class="col-lg-2">
        Row 1 Col 2
    </div>
    <div class="col-lg-2">
        Row 1 Col 3
    </div>
    <div class="col-lg-2">
        Row 1 Col 4
    </div>
    <div class="col-lg-2">
        Row 1 Col 5
    </div>
    <div class="col-lg-2">
        Row 1 Col 6
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        Row 2 Col 1
    </div>
    <div class="col-lg-6">
        Row 2 Col 2
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        Row 3 Col 1
    </div>
    <div class="col-lg-4">
        Row 3 Col 2
    </div>
    <div class="col-lg-4">
        Row 3 Col 3
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        Row 4/2 columns wide
    </div>
    <div class="col-lg-3">
        Row 4/3 columns wide
    </div>
    <div class="col-lg-4">
        Row 4/4 columns wide
    </div>
    <div class="col-lg-1">
        Row 4/1 column wide
    </div>
    <div class="col-lg-2">
        Row 4/2 column wide
    </div>
</div>

