@{
    Layout = "~/_LayoutMenu.cshtml";
    Page.Title = "Multi Record Query";

    var categoryList = Request.Form["CategoryList"];
    var db = Database.Open("NWDB");

    //Get data for dropdown list

    var ddlCommand = "Select CategoryID, CategoryName from Categories order by CategoryName";
    var ddlResults = db.Query(ddlCommand);
}

@section banner {

    <h1>Database: Multi Record Query</h1>
}

<div>
    @if (IsPost)
    {
        if (categoryList.Equals("0"))
        {
            <p><span style="color:firebrick">You must select a category!</span> </p>
        }

        else
        {
            //If no products in category picked do not go to the next page to display them
            var queryCommand = "Select productname from products where categoryID = @0";
            var results = db.Query(queryCommand, categoryList);

            //When checking for no results from db.query we check for a count of 0
            if (results.Count() == 0)
            {
                <p><span style="color:firebrick">There are no products for this category!</span> </p>
            }

            else
            {
                Response.Redirect("MultiRecordWebGrid.cshtml?cid=" + categoryList);
            }
        }
    }

    <form method="post" id="theForm" action="">
        <div class="row">
            <div class="col-md-offset-3">
                <label id="CategoryList">Select A Category</label> <br />
                <select id="CategoryListID" name="CategoryList">
                    <option value="0">Select A Category</option>
                    @foreach (var item in ddlResults)
                    {
                        //Loop through each row in the ddlResults and create an option element
                        //for each row in ddlResults
                        <option value="@item.CategoryID">@item.CategoryName</option>
                    }
                </select>
                <button type="submit" name="formButton" value="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>